#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}

header {
  border: 1px solid hotpink;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
}

nav > ul > li {
  list-style: none;
  margin-left: 0;
}