#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

* {
  box-sizing: border-box;
}

header {
  border: 1px solid hotpink;
}

nav {
  border: 1px solid greenyellow;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
}

nav > ul > li {
  list-style: none;
  margin-left: 0;
}

.sort-topics {
  border: 1px solid purple;
}

.article-list {
  border: 1px solid grey;
}

article {
  border: 1px solid blue;
}

ul {
  margin-left: 0;
}

.article-li {
  list-style: none;
  margin-left: 0;
}

.article-img {
  height: 100px;
}
