#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.nc-logo {
  height:60px;
}

h1 {
  font-size: 1.4rem;
}

h2, h3, h4 {
  font-size: 0.9rem;
}

p {
  font-size: 0.8rem;
  color: grey;
}

a {
  color: black;
}

.by-author {
  font-weight: lighter;
}

header {
  border: 1px solid hotpink;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header > p {
  margin-left: auto;
  padding: 1rem;
}

.navbar {
  border: 1px solid greenyellow;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

a:hover {
  cursor: pointer;
}

.sort-options {
  border: 1px solid purple;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.article-card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 360px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 0.3rem;
}

.single-article-card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-card:hover {
  box-shadow: 5px 5px 5px grey;
}

.vote-and-comment-info {
  display: flex;
}

.vote-and-comment-info > p {
  padding: 0 1rem;
}

.article-list {
  border: 1px solid grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.article-body {
  text-align: left;
  width: 80vw;
  font-size: large;
  color: black;
}

ul {
  list-style-type: none;
  display: contents;
}

.article-li {
  
  list-style-type: none;
  border-radius: 10px;
}

.article-img {
  height: 100px;
  border-radius: 5px;
}

.like-btn {
  background: white;
  border: none;
  font-size: larger;
  margin: 0.9rem 0;
  border-radius: 5px;
}

.like-btn:hover {
  cursor: pointer;
}

.liked-btn {
  border: none;
  box-shadow: 1px 1px 1px grey;
  font-size: larger;
  margin: 0.9rem 0;
  border-radius: 5px;
}

.liked-btn:hover {
  cursor: pointer;
}

.comment-list {
  border: 1px solid fuchsia;
}

.comment-card {
  border: 1px solid orange;
}

.comment-card:hover {
  box-shadow: 5px 5px 5px black;
}

.comment-body {
  text-align: left;
  width: 80vw;
  margin: 0 1rem;
}

.comment-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}